.front,
.back {
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

.alert .front{
    animation: alertFlip 1s forwards;
    -webkit-animation: alertFlip 1s forwards;
}

.alert .back{
    opacity: 0;
}

@keyframes alertFlip {
    0% {
        opacity: 0;
        transform: perspective(1200px) rotateY(0deg) translateX(50%);
        -webkit-transform: perspective(1200px) rotateY(0deg) translateX(50%);
        -moz-transform: perspective(1200px) rotateY(0deg) translateX(50%);
        -ms-transform: perspective(1200px) rotateY(0deg) translateX(50%);
        -o-transform: perspective(1200px) rotateY(0deg) translateX(50%);
}

    50%{
        opacity: 0.5;
        transform: perspective(1200px) rotateY(15deg) translateX(0%);
        -webkit-transform: perspective(1200px) rotateY(15deg) translateX(0%);
        -moz-transform: perspective(1200px) rotateY(15deg) translateX(0%);
        -ms-transform: perspective(1200px) rotateY(15deg) translateX(0%);
        -o-transform: perspective(1200px) rotateY(15deg) translateX(0%);
}

    100% {
        opacity: 1;
        transform: perspective(1200px) rotateY(0deg) translateX(0%);
        -webkit-transform: perspective(1200px) rotateY(0deg) translateX(0%);
        -moz-transform: perspective(1200px) rotateY(0deg) translateX(0%);
        -ms-transform: perspective(1200px) rotateY(0deg) translateX(0%);
        -o-transform: perspective(1200px) rotateY(0deg) translateX(0%);
}
}

.front {
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    transform: perspective(1200px) rotateY(-180deg);
    -webkit-transform: perspective(1200px) rotateY(-180deg);
    -moz-transform: perspective(1200px) rotateY(-180deg);
    -ms-transform: perspective(1200px) rotateY(-180deg);
    -o-transform: perspective(1200px) rotateY(-180deg);
    background-color: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip .front {
    transform: perspective(1200px) rotateY(180deg);
    -webkit-transform: perspective(1200px) rotateY(180deg);
    -moz-transform: perspective(1200px) rotateY(180deg);
    -ms-transform: perspective(1200px) rotateY(180deg);
    -o-transform: perspective(1200px) rotateY(180deg);
}

.flip .back {
    transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
    -webkit-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
    -moz-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
    -ms-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
    -o-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
}

.card {
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
}

.text-trunc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 
	dark mode start
 */

[data-switch="mode"] {
    display: none;
}

label#mtWrap {
    user-select: none;
    cursor: pointer;
    perspective: 200px;
    position: absolute;
    top: 15px;
    right: 8%;
    z-index: 1020;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: rgba(114, 157, 250, 0.5);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

label#mtWrap.on>span {
    left: 0%;
}

label#mtWrap.off>span {
    left: 50%;
}

label#mtWrap>span {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, .5);
    color: wheat;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

label#mtWrap>span::before {
    position: absolute;
}

body.dark {
    background-color: #2a2b31;
    color: white;
}

body.dark footer {
    background-color: #1c1d20 !important;
    color: inherit;
}

body.dark footer .brand a {
    color: inherit;
}

body.dark section {
    background-color: #1c1d20 !important;
    color: inherit;
}

body.dark section button {
    color: inherit !important;
}

body.dark aside {
    background-color: #1c1d20 !important;
    color: inherit;
}

body.dark .tag{
    color: white;
}

main ul,
main ol,
main li{
    margin-left: 1em !important;
}

main ul{
    list-style: unset;
}

main ol{
    list-style: decimal;
}

.gotop{
    transition: 150ms;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -ms-transition: 150ms;
    -o-transition: 150ms;
}

.gotop.hide{
    opacity: 0;
    pointer-events: none;
}

.gotop.show{
    opacity: 1;
    pointer-events: inherit;
}

[data-value]{
    background-color: rgb(58, 58, 58);
    width: 50vw;
    height: 5px;
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    text-align: right;
    line-height: 0.1rem;
}

.value{
    background-color: rgb(111, 160, 37);
    display: block;
    height: 100%;
}

.skill{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
}

/* news alert start */
[news-alert]{
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    user-select: none;
	z-index: 1220;
}

[news-alert] [data-news-alert-tag]{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: rgb(54, 54, 54);
	border: 2px solid rgba(56, 218, 123, 0.7);
	background-color: rgba(155, 236, 189, 0.5);
	margin: 0.5em 0;
	padding: 1em;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	backdrop-filter: blur(.5rem);
	-webkit-backdrop-filter: blur(.5rem);
	box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.2);
}
[news-alert] [data-news-alert-tag] .alert-text{
    display: inline-block;
    min-width: 10em;
    max-width: 20em;
}

[news-alert] [data-news-alert-tag] span.alert-text{
    pointer-events: none;
}

[news-alert] [data-news-alert-tag] span.alert-text a{
	pointer-events: all;
}

.news-close{
    display: inline-block;
    font-weight: 700;
    padding: .2em .5em;
    color: white;
    background-color: rgb(226, 78, 78);
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    cursor: pointer;
}
/* news alert end */