@charset "UTF-8";
:root {
  --ks-primary: #ff4860;
  --ks-primary-rgb: 255, 72, 96;
  --ks-secondary: #c0fcf7;
  --ks-secondary-rgb: 192, 252, 247;
  --ks-third: #005b59;
  --ks-third-rgb: 0, 91, 89;
  --ks-dark: #383838;
  --ks-dark-rgb: 20, 20, 20;
  --ks-font-comfortaa: "Comfortaa", cursive;
  --ks-font-gugi: "Gugi", cursive;
  --ks-font-noto-sans: "Noto Sans KR", sans-serif;
}

#app > div > section::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

#app > div > section::-webkit-scrollbar-thumb {
  background-color: rgba(var(--ks-primary-rgb), 0.5);
  width: 5px;
  height: 5px;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: var(--ks-font-noto-sans);
  margin: 0;
}

html {
  font-size: 1.2em;
  line-height: 1.5;
}

main {
  height: 100vh;
  background-color: beige;
}

section {
  scroll-behavior: smooth;
}

.contextmenu {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  min-width: 200px;
  min-height: 100px;
  max-width: 300px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 70%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  animation: showmenu 300ms both;
  -webkit-animation: showmenu 300ms both;
}

.contextmenu:hover {
  backdrop-filter: blur(8px);
}

.contextmenu.hide {
  animation: hidemenu 300ms both;
  -webkit-animation: hidemenu 300ms both;
}

@keyframes showmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hidemenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.alerts {
  position: absolute;
  color: white;
  font-size: 0.8em;
  bottom: 110%;
  right: 0;
  margin-bottom: 1em;
  padding: 0.3rem;
  z-index: 300;
  background-color: #ff4860;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  white-space: nowrap;
}

.alerts.show {
  animation: show 1s both;
  -webkit-animation: show 1s both;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.alerts.hide {
  animation: hide 1s both;
  -webkit-animation: hide 1s both;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
i {
  pointer-events: none;
}

.card {
  position: relative;
}

.card-content.skill .card-skill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: white;
}

.card:hover .card-skill {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.time-line {
  display: flex;
}

.time-line-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
}

@media (max-width: 575px) {
  section {
    padding: 0.5em !important;
  }

  .time-line {
    font-size: 80%;
  }

  .time-line-info {
    flex: 0 0 100px;
    width: 0px;
  }
}
.time-line-title {
  font-weight: bold;
  word-break: break-all;
}

.time-line-sub {
  font-size: 0.8em;
  color: rgba(var(--pl-gray-rgb), 1);
}

.time-line-since {
  font-size: 0.8em;
}

.line {
  position: relative;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  padding-left: 2.5em;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  width: 100%;
}

.time-line:not(:last-child) .line {
  padding-bottom: 3em;
}

.time-line-desc {
  font-size: 0.8em;
}

.time-line-info .time-line-title {
  font-size: 0.9em;
}

.line .time-line-title {
  border-bottom: 1px solid gray;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
  text-underline-offset: 0.25em;
  text-underline-position: inherit;
  text-decoration: underline 2.5px;
}

.line::before {
  top: 0.45em;
  left: -0.35em;
}

:where(.subline .li, .line)::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: white;
  box-shadow: inset 0 0 0 999em #ff4860;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.list-item.py-1 {
  position: relative;
  overflow: hidden;
  padding-left: 0.5rem;
}

.list-item.py-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  pointer-events: none;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}

.list-item.py-1:hover::after {
  transform: translateX(60%);
  -webkit-transform: translateX(60%);
  -moz-transform: translateX(60%);
  -ms-transform: translateX(60%);
  -o-transform: translateX(60%);
}

.list-item.py-1 > a {
  transition: 150ms ease-in-out;
  -webkit-transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -ms-transition: 150ms ease-in-out;
  -o-transition: 150ms ease-in-out;
}

.list-item.py-1:hover > a {
  color: black;
  letter-spacing: 0.3rem;
}

.link-form {
  --text-opacity: 1;
  color: rgba(var(--pl-gray-rgb-2), var(--text-opacity));
  cursor: pointer;
  transition: color 150ms;
  -webkit-transition: color 150ms;
}

.link-form:hover {
  color: rgba(var(--pl-brand-rgb-4), var(--text-opacity)) !important;
}

.time-line-title {
  color: black;
}

.line .important::after {
  content: "🌟";
  font-size: 150%;
  position: absolute;
  top: -15px;
  right: 0;
}

.subline {
  overflow: hidden;
  font-size: 0.7em;
  color: rgb(112, 112, 112);
  max-height: 1.5em;
  transition: max-height 500ms;
  -webkit-transition: max-height 500ms;
  -moz-transition: max-height 500ms;
  -ms-transition: max-height 500ms;
  -o-transition: max-height 500ms;
}

.subline.show {
  max-height: 100em;
  animation: showCircle 150ms both;
  -webkit-animation: showCircle 150ms both;
}

@keyframes showCircle {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.subline [scroll]:hover {
  color: #ff4860;
}

.subline [scroll] {
  cursor: pointer;
  display: block;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  overflow-y: hidden;
}

.subline .li {
  position: relative;
  margin-top: 1.5em;
  display: block;
}

.subline .li::before {
  top: 0.6em;
  left: -3.9em;
  box-shadow: inset 0 0 0 999em rgba(163, 163, 163, 0.5019607843);
  width: 9px;
  height: 9px;
}

.end-words {
  position: relative;
}

.end-words [class*=h] {
  box-shadow: inset 0 0 0 999px white;
  padding-right: 1em;
}

.end-words::after,
.end-words::before {
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 55%;
  z-index: -1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.end-words::before {
  content: " ";
  right: 0;
  width: 8px;
  height: 8px;
  background-color: rgba(56, 56, 56, 0.5607843137);
}

.end-words::after {
  border-top: 1px dashed rgba(56, 56, 56, 0.5607843137);
  left: 0;
  right: 0;
  width: 95%;
}

.row-div {
  margin-top: 3em;
}

#app > div:not([class*=side-]) {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
#app > div > section {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 0 10rem 5rem;
}

#app > div > section[page=portfolio] {
  padding: 0 !important;
}

[page=portfolio] iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

[class*=out-] {
  pointer-events: none;
}

p {
  margin: 1em 0 2em;
  line-height: 1.5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-all;
}

.fade,
.start,
.end,
.top,
.bottom,
.zoom,
.out-fade,
.out-start,
.out-end,
.out-top,
.out-bottom,
.out-zoom {
  perspective: 1300px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
}

.fade {
  animation: fade 1s both;
  -webkit-animation: fade 1s both;
}

.out-fade {
  animation: out-fade 1s both;
  -webkit-animation: out-fade 1s both;
}

.start {
  animation: start 1s both;
  -webkit-animation: start 1s both;
}

.out-start {
  animation: out-start 1s both;
  -webkit-animation: out-start 1s both;
}

.end {
  animation: end 1s both;
  -webkit-animation: end 1s both;
}

.out-end {
  animation: out-end 1s both;
  -webkit-animation: out-end 1s both;
}

.top {
  animation: top 1s both;
  -webkit-animation: top 1s both;
}

.out-top {
  animation: out-top 1s both;
  -webkit-animation: out-top 1s both;
}

.bottom {
  animation: bottom 1s both;
  -webkit-animation: bottom 1s both;
}

.out-bottom {
  animation: out-bottom 1s both;
  -webkit-animation: out-bottom 1s both;
}

.zoom {
  animation: zoom 1s both;
  -webkit-animation: zoom 1s both;
}

.out-zoom {
  animation: out-zoom 1s both;
  -webkit-animation: out-zoom 1s both;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
  }
  15% {
    opacity: 1;
    transform: translateZ(-100px);
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -ms-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
  }
  100% {
    opacity: 1;
    transform: translateZ(-100px);
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -ms-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
  }
}
@keyframes out-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes start {
  0% {
    opacity: 0;
    transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(-100%) translateZ(-10em);
  }
  30% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(0%) translateZ(-10em);
  }
  50% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(0%) translateZ(-10em);
  }
  100% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(0em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(0em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(0em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(0em);
    -o-transform: perspective(150px) translateX(0%) translateZ(0em);
  }
}
@keyframes out-start {
  0% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(0em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(0em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(0em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(0em);
    -o-transform: perspective(150px) translateX(0%) translateZ(0em);
  }
  30% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(0%) translateZ(-10em);
  }
  50% {
    opacity: 0;
    transform: perspective(150px) translateX(100%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(100%) translateZ(-10em);
  }
  100% {
    opacity: 0;
    transform: perspective(150px) translateX(100%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(100%) translateZ(-10em);
  }
}
@keyframes end {
  0% {
    opacity: 0;
    transform: perspective(150px) translateX(100%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(100%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(100%) translateZ(-10em);
  }
  30% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(0%) translateZ(-10em);
  }
  50% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(0%) translateZ(-10em);
  }
  100% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(0em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(0em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(0em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(0em);
    -o-transform: perspective(150px) translateX(0%) translateZ(0em);
  }
}
@keyframes out-end {
  0% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(0em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(0em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(0em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(0em);
    -o-transform: perspective(150px) translateX(0%) translateZ(0em);
  }
  30% {
    opacity: 1;
    transform: perspective(150px) translateX(0%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(0%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(0%) translateZ(-10em);
  }
  50% {
    opacity: 0;
    transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(-100%) translateZ(-10em);
  }
  100% {
    opacity: 0;
    transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -webkit-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -moz-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -ms-transform: perspective(150px) translateX(-100%) translateZ(-10em);
    -o-transform: perspective(150px) translateX(-100%) translateZ(-10em);
  }
}
@keyframes top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@keyframes out-top {
  0% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}
@keyframes bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@keyframes out-bottom {
  0% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes out-zoom {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}
button {
  border: none;
  background: none;
  user-select: none;
  cursor: pointer;
}

.side-paging {
  user-select: none;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

@media (max-width: 576px) {
  .side-paging {
    user-select: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .side-menu {
    top: 10px;
    right: 10px;
  }
}
.side-menu {
  user-select: none;
  z-index: 300;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
}

#side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--ks-secondary);
  transition: transform 150ms;
  -webkit-transition: transform 150ms;
  -moz-transition: transform 150ms;
  -ms-transition: transform 150ms;
  -o-transition: transform 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-menu.show {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

#side-menu ul li .page {
  text-transform: uppercase;
  font-size: 2.5em;
  color: rgba(var(--ks-third-rgb), 1);
  font-weight: bold;
  text-decoration: none;
}

#side-menu ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}

#side-menu ul {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: black;
}

.text-white {
  color: white;
}

.text-primary {
  color: rgba(var(--ks-primary-rgb), 1);
}

.text-secondary {
  color: rgba(var(--ks-secondary-rgb), 1);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.home-weather {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
}

.home-weather-title {
  font-family: var(--ks-font-gugi);
  color: rgba(var(--ks-dark-rgb), 1);
}

.loc {
  color: rgba(var(--ks-dark-rgb), 1);
  font-size: 0.8em;
}

.intro {
  max-width: 80%;
  background-color: rgba(var(--ks-dark-rgb), 0.3);
  color: rgb(255, 255, 255);
  padding: 2em;
  text-align: center;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: backdrop-filter 150ms ease-in-out;
  -webkit-transition: backdrop-filter 150ms ease-in-out;
  -moz-transition: backdrop-filter 150ms ease-in-out;
  -ms-transition: backdrop-filter 150ms ease-in-out;
  -o-transition: backdrop-filter 150ms ease-in-out;
}

.intro:hover {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}

.intro-content {
  margin-top: 3em;
}

.profile {
  text-align: center;
}

.profile-avatar {
  width: 10em;
  height: auto;
  max-width: 90%;
  max-height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.resume {
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.resume-avatar {
  width: 10em;
  height: 10em;
  object-fit: cover;
  object-position: top;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.info-table {
  flex: 0 1 60%;
  font-size: 0.8em;
  width: 100%;
}

.info-table ul {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}

.info-table ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5em;
}

.info-table ul li:last-child {
  border-bottom: none;
}

.cover-img {
  width: auto;
  aspect-ratio: 16/9;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

[hidden] {
  display: none;
}

[page=home] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[page="404"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMsg {
  user-select: none;
  margin: 1em 0;
  padding: 1em;
  color: white;
  background: rgba(var(--ks-primary-rgb), 1);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

[page=resume] .h1,
[page=resume] .h2,
[page=resume] .h3,
[page=resume] .h4,
[page=resume] .h5,
[page=resume] .h6 {
  text-transform: uppercase;
}

.font-gugi {
  font-family: var(--ks-font-gugi);
}

/* flip */
.front,
.back {
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  -ms-transition: transform 500ms;
  -o-transition: transform 500ms;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

.alert .front {
  animation: alertFlip 1s forwards;
  -webkit-animation: alertFlip 1s forwards;
}

.alert .back {
  opacity: 0;
}

@keyframes alertFlip {
  0% {
    opacity: 0;
    transform: perspective(1200px) rotateY(0deg) translateX(50%);
    -webkit-transform: perspective(1200px) rotateY(0deg) translateX(50%);
    -moz-transform: perspective(1200px) rotateY(0deg) translateX(50%);
    -ms-transform: perspective(1200px) rotateY(0deg) translateX(50%);
    -o-transform: perspective(1200px) rotateY(0deg) translateX(50%);
  }
  50% {
    opacity: 0.5;
    transform: perspective(1200px) rotateY(15deg) translateX(0%);
    -webkit-transform: perspective(1200px) rotateY(15deg) translateX(0%);
    -moz-transform: perspective(1200px) rotateY(15deg) translateX(0%);
    -ms-transform: perspective(1200px) rotateY(15deg) translateX(0%);
    -o-transform: perspective(1200px) rotateY(15deg) translateX(0%);
  }
  100% {
    opacity: 1;
    transform: perspective(1200px) rotateY(0deg) translateX(0%);
    -webkit-transform: perspective(1200px) rotateY(0deg) translateX(0%);
    -moz-transform: perspective(1200px) rotateY(0deg) translateX(0%);
    -ms-transform: perspective(1200px) rotateY(0deg) translateX(0%);
    -o-transform: perspective(1200px) rotateY(0deg) translateX(0%);
  }
}
.front {
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  transform: perspective(1200px) rotateY(-180deg);
  -webkit-transform: perspective(1200px) rotateY(-180deg);
  -moz-transform: perspective(1200px) rotateY(-180deg);
  -ms-transform: perspective(1200px) rotateY(-180deg);
  -o-transform: perspective(1200px) rotateY(-180deg);
  background-color: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip .front {
  transform: perspective(1200px) rotateY(180deg);
  -webkit-transform: perspective(1200px) rotateY(180deg);
  -moz-transform: perspective(1200px) rotateY(180deg);
  -ms-transform: perspective(1200px) rotateY(180deg);
  -o-transform: perspective(1200px) rotateY(180deg);
}

.flip .back {
  transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
  -webkit-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
  -moz-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
  -ms-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
  -o-transform: perspective(1200px) rotateX(0deg) rotateY(0deg) translateZ(100px);
}

.card {
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  -ms-transition: transform 500ms;
  -o-transition: transform 500ms;
}

/* flip */
.detail {
  position: absolute;
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 0.5rem;
  position: relative;
  height: 50px;
}
.menu .bar {
  width: 30px;
  height: 5px;
  background-color: white;
  transition: all 150ms ease-in-out;
  transform-origin: center;
}
.menu .bar:first-child {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.menu .bar:nth-child(2) {
  opacity: 1;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.menu .bar:last-child {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6.5px, 7px);
  -webkit-transform: rotate(-45deg) translate(-6.5px, 7px);
  -moz-transform: rotate(-45deg) translate(-6.5px, 7px);
  -ms-transform: rotate(-45deg) translate(-6.5px, 7px);
  -o-transform: rotate(-45deg) translate(-6.5px, 7px);
}
.menu.active .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6.5px, -7px);
  -webkit-transform: rotate(45deg) translate(-6.5px, -7px);
  -moz-transform: rotate(45deg) translate(-6.5px, -7px);
  -ms-transform: rotate(45deg) translate(-6.5px, -7px);
  -o-transform: rotate(45deg) translate(-6.5px, -7px);
}

ol:first-child {
  margin-top: 1rem;
}
ol ol {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1rem;
}
ol ol li::before {
  position: absolute;
  left: 0;
  top: 6px;
  content: "└";
  display: block;
  font-size: 12px;
  font-weight: 700;
}
ol li {
  position: relative;
  padding-left: 1rem;
}

/*# sourceMappingURL=main.css.map */
